@page
@model TaskApp.Pages.TaskPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.task.OwnerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.task.OwnerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.task.taskTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.task.taskTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.task.taskDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.task.taskDescription)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="task.taskId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
